{{ $gallery := partial "get-gallery.html" . }}
{{ with $gallery }}
  {{ $count := .imageCount }}
  {{ if and (eq $count 0) .images }}{{ $count = len .images }}{{ end }}
  <a class="card" href="{{ .page.RelPermalink }}" title="{{ .page.Title }}">
    <figure style="background-color: {{ .color }}">
      <img class="lazyload" width="{{ .thumbnail.Width }}" height="{{ .thumbnail.Height }}" data-src="{{ .thumbnail.RelPermalink }}" alt="{{ .page.Title }}" />
    </figure>
    <div>
      <h2>{{ .page.Title }}</h2>
    </div>
  </a>
{{ end }}
